.bar-stable.bar.header{
	background-color:#75ac4e;
	position: relative;
	padding-right: 0;
	-webkit-box-shadow: -8px 6px 6px -3px rgba(0,0,0,0.78);
	-moz-box-shadow: -8px 6px 6px -3px rgba(0,0,0,0.78);
	box-shadow: -8px 6px 6px -3px rgba(0,0,0,0.78);
}
.header h3{
	color:#fff;
}
.logo{
	overflow: auto;
	position: absolute;
	top: 0;
	right: 0;
}
.logo img{
	width: 200px;
}